<% #--- errors from failed multiple file uploads are in the object, show the errors
  @msg = ""
  if @media_file.errors.present?
    @media_file.errors.full_messages.each do |msg|
      @msg << content_tag(:p, msg)
    end
  end
%>
<% unless @media_file.new_record? %>
  <%= panel header: false do %>
    <div class="media">
      <% if @media_file.image? or @media_file.pdf? %>
        <%= link_to image_tag(@media_file.media_url(:sm), width: 200, class: 'media-object', style: "width: 200px;height:auto;"), @media_file.media_url, class: 'pull-left' %>
      <% else %>
        <%= link_to @media_file.media_url, class: 'pull-left', style: "width: 200px;" do %>
        <div class="aspect_wrapper_square">
          <div class="thumbnail_extension_thumb">
            <span><%= @media_file.media.file.extension %></span>
          </div>
        </div>
        <% end %>
      <% end %>
      <div class="media-body">
        <table class='table table-condensed table-bordered'>
          <thead>
            <tr>
              <th></th>
              <th>Usage example</th>
              <th>Version</th>
              <th class="nowrap">File Size</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong><%= link_to icons(:view), @media_file.media.url, target: '_blank' %></strong></td>
              <td>{% photo src: '<%= @media_file.short_location %>' %}</td>
              <td><strong>original</strong></td>
              <td><strong><%= number_to_human_size @media_file.media.file.size, precision: 3 %></strong></td>
            </tr>
            <% if @media_file.image? || @media_file.pdf? %>
              <% @media_file.media.versions.each do |key, value| %>
                  <% if @media_file.media.version_exists?(key) %>
                  <tr>
                    <td><%= link_to icons(:view), value.url, target: '_blank' %></td>
                    <td>{% photo src: '<%= @media_file.short_location(key) %>', version: '<%= key %>' %}</td>
                    <td><%= key %></td>
                    <td class="nowrap"><%= number_to_human_size value.file.size, precision: 3 %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <p class="help-block">
          <u><strong>Other examples:</strong></u><br>
          {% image src: '<%= @media_file.short_location %>' %}<br>
          {% url_media src: '<%= @media_file.short_location %>' %}
        </p>
        <p class="help-block">
          <u><strong>URL:</strong> (For future proofing, avoid using this url.  Use helper tags mentioned above)</u><br>
          <%= @media_file.media.url %><br>
        </p>

      </div>
    </div>
  <% end %>
<% end %>
<% toolbar = toolbar_btn(icons(:cancel), {action: :index}, class: "btn btn-xs btn-default") %>

<%= simple_form_for @media_file, url: [:admin, @media_file],
      html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= f.error_notification message: @msg %>

  <%= panel title: @title, toolbar: toolbar do %>

  <% if @media_file.new_record? %>
    <%= f.input :media, error: false, label: 'Media Location', wrapper: :bs3_horizontal_group, hint: 'You can select or type a folder to save the uploaded file into.  Default will be the current year.' do %>
        <%= content_tag :div, class: "input-group-btn" do %>
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" >Folder <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-field" data-field="folder_field">
            <% @folder_names.each do |folder| %>
              <li><a href="#"><%= folder %></a></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.input_field :folder, size: 12, value: (f.object.folder || Time.now.year), id: 'folder_field', class: 'form-control', style: 'width: 30%' %>
    <% end %>
    <%= f.input :media, input_html: {style: 'margin-left: 10px;', multiple: true, name: 'media_list[]'} %>

  <% else %>
    <%= f.input :media, input_html: {preview_version: :thumb} %>
  <% end %>

  <%= f.input :generate_retina, label: 'Retina', disabled: @media_file.generate_retina?, inline_label: "Generate retina versions", hint: "Make sure you upload a large version of the file." %>
  <%= f.input :tag_list, collection: MediaFile.tag_list_all, input_html: {multiple: '1', class: 'tag_field', } %>

  <% if false #--- disable this for now %>
    <%= locale_frame :title => '' do |locale| %>
      <%= f.input "title_#{locale}",        label: 'Title' %>
      <%= f.input "description_#{locale}",  label: 'Description' %>
    <% end %>
  <% end %>


  <%= submit_or_cancel cancel_url: {action: :index}, delete_url: ([:admin, @media_file] unless @media_file.new_record?), delete_confirm: 'Are you sure you wish to delete this file from the Media Library?' %>
  <% end %>
<% end %>

