<%= render partial: 'layouts/admin_theme_2017/header' %>

<body class="sidebar-narrow">
  <div class="wrapper">

    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <%= link_to 'MokshaCMS', '#', class: 'navbar-brand' %>
      </div>

      <ul class="nav navbar-top-links navbar-right">
      </ul>

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
          </ul>
        </div>
      </div>
    </nav>

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <%= page_header title: content_for(:content_title), subtitle: content_for(:content_subtitle) do %>
            <%= content_for :content_title_extra %>
          <% end %>
        </div>
      </div>
      <%= flash_admin %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
