<header class="forum_header">
  <h1><%= link_to forum.name, forum_show_path(forum) %></h1>
  <p class="forum_info">
    <%= I18n.t 'fms.count_topics', count: forum.forum_topics.size,
          :num => number_with_delimiter(forum.forum_topics.size) %>
    &nbsp;&nbsp;/&nbsp;&nbsp;
    <%= I18n.t 'fms.count_comments', count: forum.comments_count,
          :num => number_with_delimiter(forum.comments_count) %>
    <% if can? :reply, forum %>
      <span class="new_topic" style="display:none">&nbsp;&nbsp;&nbsp;<%= link_to I18n.t('fms.new_topic'), new_forum_forum_topic_path(forum) %></span>
    <% end %>
    <span class="read_forum" style="display:none"><%= link_to "Read Forum", forum_show_path(forum) %></span>
  </p>
</header>
