<%= markdown do %>
<%= I18n.t('email.salutation', value: h(@values['first_name'])) %>

<%= I18n.t('ems.ticket_registered_following_event') %>:

_<%= I18n.t('ems.ticket_receipt_ticket_number') %>: <%=h @values['receipt_code'] %>_<br>
**<%=h @values['title'].strip %>**

<%= I18n.t('ems.ticket_outstanding_balance') %>:

**<%= @values['payment_owed'] %>**

<%= I18n.t('ems.ticket_payment_link_leadin' )%>:

[<%= I18n.t('ems.ticket_payment_link_text') %>](<%= @values['payment_url'] %>)

<%= I18n.t('ems.ticket_receipt_questions', value: h(@registration.workshop.contact_email)) %>

<%= I18n.t('email.thank_you') %>

<small>_<%= I18n.t('ems.ticket_if_already_paid', value: h(@registration.workshop.contact_email))%>_</small>

<% end %>
